extends ../layout/index.pug

block styles
  link(rel="stylesheet", href="/css/index.min.css")

block scripts
  script(defer="defer", type="text/javascript", src="/js/index.js")

block content
  .container.no-gutters
    .row
      .col-xs
        |TODO: Contents and other stuff